PORT=3333
HOST=0.0.0.0
NODE_ENV=development
APP_KEY=04lNmXX77BdG1KxEGaJEwYo6E18yfHMV
DRIVE_DISK=local
APP_URL=http://localhost:${PORT}

DB_CONNECTION=mysql
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=lucid
MYSQL_PASSWORD=
MYSQL_DB_NAME=lucid

SMTP_HOST=localhost
SMTP_PORT=587
SMTP_USERNAME=<username>
SMTP_PASSWORD=<password>
PASSWORD_VERIFICATION_SECRET_KEY=M2J7A0E5T2T0H2A2IILMDEE 
